[submodule "cb-score-scraping-service"]
	path = cb-score-scraping-service
	url = git@github.com:willmaraujo/cb-score-scraping-service.git
[submodule "cb-cartola-scraping-service"]
	path = cb-cartola-scraping-service
	url = git@github.com:willmaraujo/cb-cartola-scraping-service.git
[submodule "cb-infra"]
	path = cb-infra
	url = git@github.com:willmaraujo/cb-infra.git
